@model EasyFlexibilityTool.Web.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section class="well-xs">
    <div class="container relative">
        <h2 class="relative text-center text-md-left wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
            @ViewBag.Title
            <span class="devider devider-md devider-default devider-position-left devider-position-center-sm devider-position-bottom"></span>
        </h2>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "rd-mailform wow fadeInUp", style = "visibility: visible; animation-name: fadeInUp;"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")

            <fieldset>
                <label data-add-placeholder="" class="mfInput">
                    @Html.EditorFor(m => m.Email, new {htmlAttributes = new {placeholder = Html.DisplayNameFor(m => m.Email)}})
                    @Html.ValidationMessageFor(m => m.Email)
                </label>

                <div class="mfControls">
                    <button class="link link-primary" type="submit">Send Email</button>
                </div>
            </fieldset>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
